/*Estilo de Fondo*/

body{
    background: #d3d3d3;
    font-size: 100%;
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #444;
}
/*estilo para la lista*/
.aside-nav ul{
   background: #e8e8e8;
   padding: 0;
   width: 25%;

}
/*Estilo para los elementos de la lista*/
.aside-nav li a{
    display: block;
    padding: 1.25em;
    border-bottom: 1px solid #d2d2d2;
    text-decoration: none;
    text-align: center;
    color: blue;
   /* text-transform: uppercase;*/

}

/*Estilo al posicionar el puntero encima del enlace*/
.aside-nav a:hover{
    color: #fff;
}
p{
    text-align: center;
    color: blue;
    text-transform: uppercase;
}